.c-button {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  background-color: getColors("verde", 1);
  color: getColors("verde", 0);
  text-decoration: none;
  padding: getPadding(5) getPadding(7);
  border-radius: getBorderRadius(4);
  display: table;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
  // border: 2px solid rgb(28, 28, 28);
  transition: all 0.3s;
  &:hover {
    transform: scale(1.1);
    background-color: getColors("verde", 3);
  }

  &--big {
    font-size: getFontSize("xl");
    padding: getPadding(6) getPadding(14);
    width: 500px;
  }

  &--medium {
    font-size: getFontSize("m");
    padding: getPadding(3) getPadding(14);
    width: 500px;
  }

  &--products {
    font-size: getFontSize("s");
    padding: getPadding(3) getPadding(4);
    width: 250px;
    font-family: getFontFamily("principal");
  }

  &--categoria {
    font-size: getFontSize("s");
    padding: getPadding(5) getPadding(7);
    text-align: center;
    font-family: getFontFamily("principal");
  }

  // &--primary {
  // 	background-color: getColors("verde", 1);
  // 	color: getColors("verde", 0);
  // 	text-decoration: none;
  // 	padding: getPadding(5) getPadding(7);
  // 	border-radius: getBorderRadius(4);
  // 	display: table;
  // 	text-align: center;
  // 	&:hover {
  // 		transform: scale(1.1);
  // 	}
  // 	&:active {
  // 		transform: scale(0.9);
  // 	}
  // }

  // &--resta {
  // 	background-color: getColors("verde", 1);
  // 	color: getColors("verde", 0);
  // 	text-decoration: none;
  // 	padding: getPadding(5) getPadding(7);
  // 	border-radius: getBorderRadius(4);
  // 	display: table;
  // 	text-align: center;
  // 	&:hover {
  // 		transform: scale(1.2);
  // 	}
  // 	&:active {
  // 		transform: scale(0.8);
  // 	}
  // }
}
