.c-carrito {
  display: none;
  z-index: 1;
  position: fixed;
  width: 800px;
  height: 500px;
  top: 150px;
  left: 350px;
  background-color: getColors("verde", 0);
  border: 2px solid getColors("verde", 1);
  overflow: scroll;
  box-shadow: getShadow(2);

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: getFontSize("3xl");
    font-weight: bold;
    text-align: center;
    padding-top: getPadding(9);
    margin: getMargin(6) getMargin(8);
    color: getColors("verde", 1);
  }

  &__item {
    padding: getPadding(7) getPadding(9);
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__item:nth-child(3) {
    border-top: 1px solid getColors("verde", 1);
    border-bottom: 1px solid getColors("verde", 1);
  }

  &__img {
    width: 75px;
  }

  &__descripcion {
    display: flex;
    flex-direction: column;
    gap: getGap(5);

    span {
      color: getColors("verde", 1);
      font-weight: getFontWeight(4);
    }
    span:nth-child(1) {
      color: getColors("verde", 1);
      font-weight: bold;
    }
  }

  &__cantidad {
    display: flex;
    justify-content: center;
    gap: getGap(6);
  }

  &__icon {
    width: 30px;
    height: 30px;
  }

  &__input {
    width: 50px;
  }

  &__botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: getMargin(8) getMargin(10);
    gap: getGap(6);
  }

  &__precioTotal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: getGap(6);
    padding: getPadding(6) getPadding(9);
    font-size: getFontSize("3xl");
    font-weight: bold;
    margin: getMargin(0) getMargin(10);
    color: getColors("verde", 1);
  }

  &__cantidadTotal {
    color: getColors("verde", 2);
  }
}
