.c-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: getGap(8);
  background-color: getColors("verde", 2);
  padding: getPadding(12) getPadding(10);
  font-family: getFontFamily("principal");
  font-size: getFontSize("s");

  &__logo {
    width: 150px;
  }

  &__media {
    display: flex;
    justify-content: space-around;
    gap: getGap(8);
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: getGap(16);
    margin-bottom: getMargin(8);
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: getGap(8);
    list-style: none;

    li:first-child {
      font-weight: bold;
      font-size: getFontSize("m");
      color: getColors("verde", 0);
    }
  }

  &__item {
    color: getColors("verde", 0);
    text-decoration: none;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.2);
      color: getColors("verde", 3);
    }
  }

  &__derechos {
    color: getColors("verde", 0);
    text-decoration: none;

    span {
      font-weight: bold;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: getGap(8);
  }

  &__line {
    background-color: getColors("blanco", 0);
    height: 0.1px;
    width: 1200px;
  }
}
