.c-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	// right: 0;
	padding: getPadding(6) getPadding(9);
	background-color: getColors("verde", 0);
	font-family: getFontFamily("principal");
	width: 100%;

	&__logo {
		width: 150px;
	}

	&__menu {
		display: flex;
		gap: getGap(12);
	}

	&__item {
		text-decoration: none;
		color: getColors("verde", 1);
		font-weight: 600;
	}

	&__iconos {
		display: flex;
		gap: getGap(8);
	}
}
