.c-producto {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  // padding: getPadding(7) getPadding(0);
  gap: getGap(3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  margin: getMargin(7) getMargin(2);
  border-top-left-radius: getBorderRadius(5);
  border-top-right-radius: getBorderRadius(5);
  background-color: getColors("verde", 0);
  transition: all 0.3s;
  &:hover {
    transform: scale(1.05);
  }

  &__title {
    font-size: getFontSize("l");
    margin: getMargin(4) getMargin(2);
    font-weight: bold;
    line-height: getLineHeight("2xl");
    color: getColors("verde", 1);
    font-family: getFontFamily("principal");
    margin-bottom: getMargin(6);
    margin-top: getMargin(6);
  }

  &__text {
    font-size: getFontSize("m");
    padding: getPadding(2) getPadding(7);
    margin-bottom: getMargin(7);
  }
  &__price {
    font-size: getFontSize("m");
    padding: getPadding(2) getPadding(7);
    margin-bottom: getMargin(7);
  }

  &__img {
    width: 100%;
    height: 400px;
    border-top-left-radius: getBorderRadius(5);
    border-top-right-radius: getBorderRadius(5);
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding-bottom: getPadding(9);
  }

  &__botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: getGap(5);
  }
}
