.g--seccion-productos-title {
  font-size: getFontSize("4xl");
  text-align: center;
  font-weight: bold;
  padding-top: getPadding(10);
  color: getColors("verde", 1);
  font-family: getFontFamily("principal");
}
